
<div class="container mt-5">
  <div class="card">
    <div class="card-body text-center">
      <span class="titulo">LLISTAT DE PRODUCTES</span>

      <div class="row">
        <div class="col-7 search-name">
          <input class="form-control" type="text" name="search"
                 [(ngModel)]="searchText" autocomplete="on"
                 placeholder=" Què vols trobar? " maxlength="70" style="width: auto; height: 50px">
        </div>

        <div class="col-3" style="margin-left: auto; width: auto">
          <div class="dropdown">
            <button class="botn">Ordenar per</button>
            <div class="dropdown-options">
              <a (click)="obtenirProductes(1)">Id</a>
              <a (click)="obtenirProductes(2)">Nom del producte</a>
              <a (click)="obtenirProductes(3)">Marca</a>
              <a (click)="obtenirProductes(4)">Preu (menys a més)</a>
              <a (click)="obtenirProductes(5)">Preu (més a menys)</a>
            </div>
          </div>
        </div>
      </div>

      <table class="table table-striped mt-4">
        <thead>
        <tr>
          <th scope="col" (click)="ordenar=1">ID Producto</th>
          <th scope="col" (click)="ordenar=2; reload()">Nom del producte</th>
          <th scope="col" (click)="ordenar=3">Marca</th>
          <th scope="col" (click)="ordenar=4">Preu</th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor= "let producte of listProductes | filter:searchText">
          <th scope="row">{{ producte.ProdID }}</th>
          <td>{{ producte.ProdNom }}</td>
          <td>{{ producte.ProdMarca }}</td>
          <td>{{ producte.ProdPreu |  currency: 'EUR' }}</td>
          <td>
            <i [routerLink]="['/editar-producte', producte._id]"  class="fa-solid fa-pen-to-square"></i>
            <i (click)="eliminarProducte(producte._id)" class="fa-solid fa-trash"></i>
          </td>
        </tr>
        </tbody>
      </table>
      <h4 *ngIf="listProductes.length == 0">Encara no hi ha productes al sistema</h4>

    </div>
  </div>
</div>

