<div class="container mt-5">
  <div class="col-lg-6 offset-lg-3">
  <div class="card">
    <div class="card-body text-center border-4">
      <span class="titulo">MODIFICAR USUARI</span>
      <form class="mt-4" >
        <div class="mb-3">
          <input type="text" class="form-control form-control-lg" placeholder="Modifica nom d'usuari" formControlName="ModUsuari">

        </div>

        <div class="mb-3">
          <input type="text" class="form-control form-control-lg" placeholder="Modificar correu electrònic" formControlName="ModEmail">

        </div>

        <div class="mb-3">
          <input type="text" class="form-control form-control-lg" placeholder="Modificar el teu Nom" formControlName="ModNom">

        </div>

        <div class="mb-3">
          <input type="password" class="form-control form-control-lg" placeholder="Modificar la contrasenya" formControlName="ModContrasenya">

        </div>

        <div class="row mb-3">
          <div class="col">
            <button type="submit" class="btn btn-success btn-lg">ACCEPTA</button>
          </div>
          <div class="col">
            <button type="reset" class="btn btn-warning btn-lg">ESBORRA TOT</button>
          </div>
        </div>

       </form>
     </div>
  </div>
  </div>
</div>
