<div class="container mt-5">
  <div class="col-lg-6 offset-lg-3">
  <div class="card">
    <div class="card-body text-center border-4">
      <span class="titulo">EL MEU USUARI</span>
      <form class="mt-4" name="ProdForm" [formGroup]="modiUserForm" (ngSubmit)="modificarUser()">
        <div class="mb-3">
          <span class="float-start" style="font-size: 20px">Nom d'usuari:</span>
          <input type="text" formControlName="ModUsuari" class="form-control form-control-lg" readonly>
        </div>

        <div class="mb-3">
          <span *ngIf="modiUserForm.get('ModEmail')?.value" class="float-start" style="font-size: 20px">Modifica correu electrònic:</span>
          <input type="text" ngModel email class="form-control form-control-lg" placeholder="Modifica correu electrònic" formControlName="ModEmail">
          <div class="text-danger" *ngIf="modiUserForm.get('ModEmail')?.hasError('required') && modiUserForm.get('ModEmail')?.touched">
            <span>Camp obligatori</span>
          </div>
        </div>

        <div class="mb-3">
          <span *ngIf="modiUserForm.get('ModNom')?.value" class="float-start" style="font-size: 20px">Modifica el teu Nom:</span>
          <input type="text" class="form-control form-control-lg" placeholder="Modifica el teu Nom" formControlName="ModNom">
          <div class="text-danger" *ngIf="modiUserForm.get('ModNom')?.hasError('required') && modiUserForm.get('ModNom')?.touched">
            <span>Camp obligatori</span>
          </div>
        </div>

        <div class="mb-3">
          <span *ngIf="modiUserForm.get('ModContrasenya')?.value" class="float-start" style="font-size: 20px">Modifica la contrasenya:</span>
          <input type="password" class="form-control form-control-lg" placeholder="Modifica la contrasenya" formControlName="ModContrasenya">
          <div class="text-danger" *ngIf="modiUserForm.get('ModContrasenya')?.hasError('required') && modiUserForm.get('ModContrasenya')?.touched">
            <span>Camp obligatori</span>
          </div>
        </div>
        <a *ngIf="isVisibleMU" style="text-align: center">Dades incorrectes. Torna a intenar.</a>

        <br>

        <div class="row mb-3">
          <div class="col">
            <button type="submit" [disabled]="modiUserForm.invalid" class="btn btn-success btn-lg">ACCEPTAR</button>
          </div>
          <div class="col">
            <button type="reset" class="btn btn-warning btn-lg">ESBORRAR TOT</button>
          </div>
        </div>

        <br>

        <a routerLink="/login" ><button class="btn btn-danger" (click)="ProducteService.logOut()">TANCAR SESSIÓ</button> </a>

       </form>
     </div>
  </div>
  </div>
</div>
