<br>
<div class="">
  <div class="row">
    <div class="col" *ngFor= "let comanda of listComandes">
      <div class="container row">
        <h5>Client: {{ comanda.UserName }}</h5>
        <a>Emial: {{ comanda.UserMail }}</a><br>
        <a>Nom: {{ comanda.UserNameReal }}</a><br>
        <a>Pais: {{ comanda.Pais }}</a><br>
        <a>Ciutat: {{ comanda.Ciutat }}</a><br>
        <a>Codi Postal: {{ comanda.CodiPostal }}</a><br>
        <a>Carrer i número: {{ comanda.CarrerNum }}</a><br>
        <a>Número de telèfon: {{ comanda.NumeroTelf }}</a><br>

        <div class="row">
          <table class="col table table-striped mt-4">
            <thead>
            <tr>
              <th scope="col">ID Producto</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor= "let prod of comanda.LlistaProductes">
              <td>{{ prod }}</td>
            </tr>
            </tbody>
          </table>

          <table class="col table table-striped mt-4">
            <thead>
            <tr>
              <th scope="col">Talla del producte</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor= "let prod of comanda.TallaProductes">
              <td>{{ prod }}</td>
            </tr>
            </tbody>
          </table>

          <table class="col table table-striped mt-4">
            <thead>
            <tr>
              <th scope="col">Quantitat de productes</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor= "let prod of comanda.QuantitatProductes">
              <td>{{ prod }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
