

<div class="container">
  <div class="row" >
    <div class="col">
      <img src="assets/logo_image.png" class="header rounded float-left" width="150" vspace="10" >
    </div>
    <div class="col text-center text-xl-center my-4" style="width: 50%;">
      <h1 class="header-title justify-content-center d-flex">ALEX TFG</h1>
    </div>
    <div class="col my-3" >
      <button class="btn btn-primary list-unstyled border-0 float-end" *ngIf="ProducteService.loggedIn()" routerLink="/modifica-usuari" style="background-color: white">
        <img src="assets/user.png" class="userheader rounded float-right" width="90" height="90" hspace="15">
      </button>
    </div>
  </div>
</div>

<div class="row">

  <div class="col" style="border-color: gray"  >
    <div class="card border-5" style="width: 90%;" *ngIf="ProducteService.loggedIn()" routerLink="/crear-producte" type="button" >
      <div class="card-body text-center ">
        <span   class="titulo">AFEGIR NOUS PRODUCTES</span>
      </div>
    </div>
  </div>

  <div class="col" style="border-color: gray"  >
    <div class="card border-5" style="width: 90%;" *ngIf="ProducteService.loggedIn()" routerLink="/llistar-productes" type="button" >
      <div class="card-body text-center ">
        <span   class="titulo">VEURE LLISTAT DE PRODUCTES</span>
      </div>
    </div>
  </div>

  <div class="col" style="border-color: gray"  >
    <div class="card border-5" style="width: 90%;" *ngIf="ProducteService.loggedIn()" routerLink="/crear-usuari" type="button" >
      <div class="card-body text-center ">
        <span   class="titulo">AFEGIR NOU USUARI</span>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>

<br>



