

<div class="container">
  <div class="row" >
    <div class="col-3">
      <img src="assets/logo.png" class="header rounded float-left" width="60%" vspace="10" >
    </div>
    <div class="col text-center my-3" >
      <h1 class="header-title" style="font-size: 4.9vw">TOTESPORT</h1>
    </div>
    <div class="col-3 my-2" >
      <button class="btn btn-primary list-unstyled border-0 float-end" *ngIf="ProducteService.loggedIn()" routerLink="/modifica-usuari" style="background-color: white">
        <img src="assets/user.png" class="userheader rounded float-right" width="50%"  hspace="15">
      </button>
    </div>
  </div>
</div>

<div class="row">

  <div class="col" style="border-color: gray"  >
    <div class="card border-5" style="width: 90%;" *ngIf="ProducteService.loggedIn()" routerLink="/crear-producte" type="button" >
      <div class="card-body text-center ">
        <span class="titulo" style="font-size: 2vw">Afegir productes</span>
      </div>
    </div>
  </div>

  <div class="col" style="border-color: gray"  >
    <div class="card border-5" style="width: 90%;" *ngIf="ProducteService.loggedIn()" routerLink="/llistar-productes" type="button" >
      <div class="card-body text-center ">
        <span class="titulo" style="font-size: 2vw">Llistat productes</span>
      </div>
    </div>
  </div>

  <div class="col" style="border-color: gray"  >
    <div class="card border-5" style="width: 90%;" *ngIf="ProducteService.loggedIn()" routerLink="/crear-usuari" type="button" >
      <div class="card-body text-center ">
        <span class="titulo" style="font-size: 2vw">Gestió treballadors</span>
      </div>
    </div>
  </div>

  <div class="col" style="border-color: gray"  >
    <div class="card border-5" style="width: 90%;" *ngIf="ProducteService.loggedIn()" routerLink="/comandes" type="button" >
      <div class="card-body text-center ">
        <span class="titulo" style="font-size: 2vw">Comandes</span>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>

<br>



